@inherits LayoutComponentBase

<div class="page">
    <div>
        <NavMenu />
    </div>

    <main>
        <article class="content px-4" style="padding-top: 56px;">
            @Body
        </article>
    </main>
</div>
